<div class="content-wrapper">
    <div class="center">
        <div class="profile">
            <div class="image">
                <div class="circle circle-1"></div>
                <div class="circle circle-2"></div>
                <img src="https://100dayscss.com/codepen/jessica-potter.jpg" alt="Jessica Potter" />
            </div>
            <p class="user-name">Jessica Potter</p>
            <p class="user-details">Visual Artist</p>
            <button class="follow">Follow</button>
            <button class="message">Message</button>
        </div>
        <div class="right-side">
            <div class="box">
                <span class="value">523</span>
                <span class="parameters">Posts</span>
            </div>
            <div class="box">
                <span class="value">1387</span>
                <span class="parameters">Likes</span>
            </div>
            <div class="box">
                <span class="value">146</span>
                <span class="parameters">Follower</span>
            </div>
        </div>
    </div>
</div>