@import '../../../styles/global-variables.scss';
@import '../../../styles/mixins.scss';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$blue: #5f98cd;
$blue-dark: #264057;
$blue-light: #b2daff;
.frame {
    overflow: hidden;
    position: relative;
    @include challengeContentWrapper($blue-dark);
    color: #666666;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel {
    z-index: 2;
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    left: 50px;
    box-shadow: 10px 10px 15px 0 rbga(0, 0, 0, 0.3);
    overflow: hidden;

    transition: all 0.5s ease-in-out;

    &.show-menu {
        transform: translateX(150px);
    }

    .header {
        height: 60px;
        width: 100%;
        background: $blue;
        position: relative;

        .menu-icon {
            position: absolute;
            width: 29px;
            height: 15px;
            top: 23px;
            left: 20px;
            // border: 1px solid;
            cursor: pointer;

            .dash-top {
                width: 20px;
                height: 3px;
                position: absolute;
                top: 0;
                left: 0;
                background: $blue-light;
                border-radius: 3px;
                transition: all 0.2s ease-in-out;
            }
            .dash-bottom {
                @extend .dash-top;
                width: 29px;
                top: auto;
                bottom: 0;
            }
            .circle {
                width: 7px;
                height: 7px;
                background: $blue-light;
                position: absolute;
                top: -2px;
                right: 0px;
                border-radius: 4px;
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                .dash-top,
                .dash-bottom,
                .circle {
                    background: #fff;
                }
            }
        }

        .title {
            text-align: center;
            line-height: 60px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
        }

        .input-search {
            box-sizing: border-box;
            width: 230px;
            height: 34px;
            position: absolute;
            top: 13px;
            right: 55px;
            border-radius: 17px;
            border: none;
            padding: 0 17px;
            font-size: 17px;
            color: #666;
            pointer-events: none;
            transform: translateX(15px);
            opacity: 0;
            transition: all 0.3s ease-in-out;

            &:focus {
                outline: none;
            }
            &.active {
                transform: translateX(0);
                opacity: 1;
                pointer-events: auto;
            }
        }

        .search-icon {
            font-size: 21px;
            color: $blue-light;
            position: absolute;
            top: 18px;
            right: 20px;
            cursor: pointer;
            &:hover {
                color: #fff;
            }
        }
    }

    .notifications {
        height: 100%;
        overflow: hidden;
        position: relative;
        .line {
            width: 3px;
            background: #ebebeb;
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 27px;
        }

        .notification {
            position: relative;
            margin: 25px 20px 25px 43px;

            @for $i from 2 through 4 {
                &:nth-child(#{$i}) {
                    animation: here-am-i 0.5s ease-out ($i/5 + s);
                    animation-fill-mode: both;
                }
            }

            &:hover {
                color: $blue;
                cursor: pointer;
            }

            .circle {
                box-sizing: border-box;
                width: 11px;
                height: 11px;
                position: absolute;
                top: 0px;
                left: -20px;
                background: #fff;
                border: 2px solid $blue;
                box-shadow: 0 0 0 3px #fff;
                border-radius: 50%;
            }

            .time {
                display: block;
                font-size: 11px;
                line-height: 11px;
                margin-bottom: 2px;
            }
            p {
                font-size: 15px;
                line-height: 20px;
                margin: 0;
                b {
                    font-weight: 600;
                }
            }
        }
    }
}

.menu {
    width: 170px;
    height: 270px;
    background: #43627d;
    border-radius: 3px;
    position: absolute;
    top: 65px;
    left: 50px;
    transform: translateX(30px);
    transition: all 0.3s ease-in-out;

    &.active {
        box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
        transform: translate3d(0, 0, 0);
    }

    ul {
        margin: 0;
        padding: 10px 0;
        list-style: none;
    }
    li {
        color: #a7c2da;
        margin: 0;
        padding: 1rem;
        font-size: 14px;
        cursor: pointer;

        &:hover {
            color: #fff;
            background: #385269;
        }

        span {
            display: block;
            float: left;
            margin-right: 8px;
        }
    }
}

@keyframes here-am-i {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
